.character { margin-top: 2px; }

.sbl { background: url('bl.gif') bottom left no-repeat #EDEDED; width: 30%; text-align: center; min-width: 360px; }
.sbr { background: url('br.gif') bottom right no-repeat; }
.stl { background: url('tl.gif') top left no-repeat; }
.str { background: url('tr.gif') top right no-repeat; padding: 10px; } 
.sb { padding: 2px 0px 10px 50px; background: url('b.gif') 30px top no-repeat; }

.container { background: #FFFFFF;  width: 80%; padding: 10px; }
.sbl2 { background: url('bl2.gif') bottom left no-repeat #B9DCFF; width: 30%; text-align: center;  min-width: 360px; }
.sbr2 { background: url('br2.gif') bottom right no-repeat; }
.stl2 { background: url('tl2.gif') top left no-repeat; }
.str2 { background: url('tr2.gif') top right no-repeat; padding: 10px; } 
.sb2 { padding: 2px 0px 10px 50px; background: url('b2.gif') 30px top no-repeat; }